/******************************\
|            FRAME             |
\******************************/
.row{
    margin:0;
}
.header img{
    width: 100%;

}
body {
    font-family: Tahoma,Arial,Verdana,Helvetica,Sans-Serif;
}



.footer {
    display: block;
    clear: both;
    background-color: #4B08A1;
    color: white;
    line-height: 25px;
    border-radius: 3px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    margin-top: 12px;
    margin-bottom: 12px;
    margin-left: auto;
    margin-right: auto;
}

.float-clear {
    clear: both;
}


/******************************\
|            IMAGES            |
\******************************/


/******************************\
|          NAVIGATOR           |
\******************************/

.navbar{
	  background-color: rgb(75, 8, 161);
}

.active{
	 background-color: #FF5800;
}

.navbar-inverse .navbar-nav >li>a {
    color: white;
}
.navbar-inverse .navbar-nav>.open>a, .navbar-inverse .navbar-nav>.open>a:focus, .navbar-inverse .navbar-nav>.open>a:hover{
   background-color: #FF5800;
}   
   
.dropdown.open li a:hover{
	 background-color: #FF5800;
}

.navbar-inverse .navbar-nav>li>a:focus, .navbar-inverse .navbar-nav>li>a:hover {
    background-color: #FF5800;
}

@media (max-width: 767px){
	.navbar-inverse .navbar-nav .open .dropdown-menu>li>a:focus, .navbar-inverse .navbar-nav .open .dropdown-menu>li>a:hover {
    background-color: #FF5800;
	}	
	.nav li a:hover {
    background-color: #FF5800;
	}
	.navbar-inverse .navbar-nav .open .dropdown-menu>li>a {
    color: white;
	}
}
.navbar-nav>li>.dropdown-menu {
    background-color: #4B08A1;
}

.dropdown-menu>li>a {
    color: white;
}


/******************************\
|           SCHEDULE           |
\******************************/
table{
	table-layout: fixed;
    margin: auto;
}
th,td {
    margin: 0;
    text-align: center;
    border-collapse: collapse;
    border: 1px solid #e3e3e3;
	word-wrap: break-word;
}

td {
    padding: 5px 5px;
}

th {
    background: #FF5800;
    color: white;
    padding: 5px 10px;
}

li {
	list-style-type: none;
}

.schedule_names:hover {
    background: #FF5800;
    cursor: pointer;
}

.schedule_names {
    background: #4B08A1;
    color: white;
    padding: 5px 10px;
	word-wrap: break-word;
}


/******************************\
|            RULES             |
\******************************/
.accordion, .accordion * {
    -webkit-box-sizing: border-box; 
    -moz-box-sizing: border-box; 
    box-sizing: border-box;
}

.accordion {
    overflow: hidden;
    box-shadow: 0px 1px 3px rgba(0,0,0,0.25);
    border-radius: 3px;
    background: #f7f7f7;
}

.accordion-section-title {
    width: 100%;
    padding: 15px;
    display: inline-block;
    border-bottom: 1px solid #1a1a1a;
    background: #FF5800;
    transition: all linear 0.15s;
    font-size: 1.200em;
    text-shadow: 0px 1px 0px #1a1a1a;
    color: #ffffff;
    font-family: Verdana;
}

.accordion-section-title.active, .accordion-section-title:hover {
    background: #4B08A1;
    text-decoration: none;
}
 
.accordion-section:last-child .accordion-section-title {
    border-bottom: none;
}

.accordion-section-content {
    padding: 15px;
    display: none;
    font-family: Arial;
}

a:hover, .accordion a {
    text-decoration: none;
}

/******************************\
|           CONTACT            |
\******************************/
.textfield{
    text-align: center;
    margin:auto;
}

/******************************\
|          LOCATIONS           |
\******************************/
.parent{
    text-align: center;
}

.location{
    margin-bottom: 25px;
}
.location-img {
	display: block;
	max-width: 100%;
    margin: auto;
	cursor: pointer;
	width: 250px;
	height: 150px;
}

.location-name {
	font-size: 1.1em;
	text-align: center;
}

.location-zip, .location-phone {
	text-align: center;
}

/******************************\
|           TEACHERS           |
\******************************/
img.img-responsive{
    width: 250px;
    height: 380px;
}
.gallery {
    display: inline-block;
    margin-top: 20px;
}

/******************************\
|             FAQ              |
\******************************/
#div_container {
    width: 950px;
    margin-left: auto;
    margin-right: auto;
    z-index: 1;
}

#div_content, #div_content_transparent {
    width: 950px;
    margin-left: auto;
    margin-right: auto;
    background-color: #ffffff;
    z-index: 5;
}

#td_main {
    margin-top: 30px;
    padding: 15px;
    z-index: 5;
}

#div_under {
    margin-top: 5px;
    padding: 15px;
    font-size: 15px;
    font-weight: bold;
    color: #4b08a1;
}

#div_under a {
    font-size: 12px;
    color: #4b08a1;
    text-transform: uppercase;
}

p {
    margin: 0px;
}

.question_cat {
    text-transform: uppercase;
    cursor: pointer;
    padding-bottom: 10px;
    background-image: url("../images/chapter.png");
    background-position: left center;
    background-repeat: repeat-x;
    height: 33px;
    padding-left: 10px;
    color: #ffffff;
    line-height: 41px;
    font-size: 16px;
    margin-bottom: 13px;
}

.faq_question {
    border-bottom: 1px solid #f4f4f4;
    cursor: pointer;
    font-weight: bold;
    padding-bottom: 3px;
    padding-left: 10px;
}

.faq_questions {
    display: none;
}

.faq_answer {
    display: none;
    padding-top: 2px;
    padding-left: 10px;
}